.searchbar{
    margin-left: 12px;
    display: block;
    flex: 1;
    height: 36px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-radius: 2px;
    box-shadow:inset 1px 2px 3px rgba(0, 0,0,0.05);
    padding-left: 10px;
    width: 0;
}
.searchbar::placeholder{
    font-family: Roboto;
    font-size: 16px;
}
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230,230,230);
    z-index: 100;
}

.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 30px;
    max-width: 500px;
    align-items: center;
}
.right-section{
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.yt-logo{
    height: 20px;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240,240,240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    margin-left: -1px;
    margin-right: 8px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    /* border-width: 1px; */
    /* border-style: solid; */
    border: none;
    background-color: rgb(247,247,247);
}
.search-icon{
    height: 25px;
    margin-top: 4px;
}
.voice-icon{
    height: 24px;
    margin-top: 4px;
}
.upload-icon{
    height: 24px;
}
.apps-icon{
    height: 24px;
}
.noti-icon{
    height: 24px;
}
.notifications-icon-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgb(200,0,0);
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
.User-profile{
    height: 32px;
    border-radius: 16px;
}
