

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 30px; 
}

@media (min-width : 1100px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width : 901px) and (max-width : 1099px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width : 900px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}


.thumbnail{
    width: 100%;
    
}
.video-title{
    margin-top: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-author,
.video-stats{
    display: block;
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.video-author{
    margin-bottom: 6px;
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
.channel-picture{
    vertical-align: top;
}
.video-info{
    display: inline-block;
}

.profile-picture{
    width: 36px;
    border-radius: 40px;
}
.video-time{
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding: 4px 4px;
}